
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* nav style */


nav{
    display: flex;
   align-items: center;
   margin: 50px 200px ;
   justify-content: space-between;
}

.nav-tittle{
/* Awlad.H */
/* position: absolute;
width: 114px;
height: 34px;
left: 150px;
top: 50px; */

}
.nav-btn{
    align-items: center;
    justify-content: space-between;
}



/* banner-section style */
.banner-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/Hero-bg.png); 
    height: 100vh;
    
   
    
}
.banner-container{
    display: ;
    text-align: center;

    align-items: center;
}
.banner-container h1 { 
    font-size: 70px ;
    font-weight: ;
    margin-bottom: 40px;


}
.banner-container .btn{
    background-color:black;
    
}
.banner-container .btn {
    color: white;
   padding:  18px 66px;
    margin-top: 20px;
    border-radius: 10px;

}
.banner-container .btn a{
    color: white;
    text-decoration: none;
}
/* banner section ends */
.develoment{
 margin-top: 70px;
background-color:  rgba(13, 19, 33, 0.02);


}
 .development-title h3{
    text-align: center;
    font-size: 70px;
}
 .development-title p{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;

}
.development-innersection{
    display: flex;
   justify-content: space-around;
}
.development-innersection{
    margin-top: 100px;
    align-items: center;


}
.content h2{
    font-size: 70px;
    margin-bottom: 20px;
}

.content h3{
    font-size:70px;

}
.content .btn-one{
    margin-top: 20px;
    padding: 20px 40px;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
font-size: large;

}
/* inspiration section */
.inspiration{
    text-align: center;

}
.inspirationtitle h2{
    margin-top: 40px;
    margin-bottom: 30px;
}
.inspirationtitle p{
 margin-bottom: 40px;
}
.inspirevedio{
 
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
width: 1100px;
margin: 0 auto;
padding: 30px ;
}
/* target  */
.target-tittle{
    margin-top: 40px;
    text-align: center;
    
}
.target-tittle h2{
    font-size: 50px;
    margin-bottom: 30 px;
}
.target-tittle p{
    margin-top: 30px;
}
.threetarget{
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top: 40px;
    gap: 10px;
}
.target-one{
    border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
padding: 40px;
line-height: 2;

}
.target-two{
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
padding: 40px;
line-height: 2;
}
.target-three{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
padding: 40px;
line-height: 2;
}