
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* nav style */


nav{
    display: flex;
   align-items: center;
   margin: 50px 200px ;
   justify-content: space-between;
}

.nav-tittle{
/* Awlad.H */
/* position: absolute;
width: 114px;
height: 34px;
left: 150px;
top: 50px; */

}
.nav-btn{
    align-items: center;
    justify-content: space-between;
}



/* banner-section style */
.banner-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/Hero-bg.png); 
    height: 100vh;
    
   
    
}
.banner-container{
    display: ;
    text-align: center;

    align-items: center;
}
.banner-container h1 { 
    font-size: 70px ;
    font-weight: ;
    margin-bottom: 40px;


}
.banner-container .btn{
    background-color:black;
    
}
.banner-container .btn {
    color: white;
   padding:  18px 66px;
    margin-top: 20px;
    border-radius: 10px;

}
.banner-container .btn a{
    color: white;
    text-decoration: none;
}